
.row {
    font-family: 'Montreal-Serial-Regular';
    /*background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%) !important;*/
}

.card{
    margin: 8.5%; /* Added */
    padding: 2.5em;
    /*border: 1px solid !important;*/
    border-radius: 8px !important;
    box-shadow: 11px 11px 11px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}
.form-group input {
    width: 100%;
    color: #999;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border: 2px solid #999;
    border-radius:50px;
}

.dropdown {
    text-align:  center;
    justify-content: center;
    color: #999;
    font-weight: bold;
    font-size: 15px;
}
.button {
    background: #3a7bd5;
    background-position: right center; 
    border-radius:50px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 7px;
    width: 100%;
}
.button:hover { 
    background-position: right center; 
}

.links{
    color: #999;
}

.edit-container{
    margin: 8.5%; /* Added */
    padding: 2.5em;
    /*border: 1px solid !important;*/
    border-radius: 8px !important;
    box-shadow: 11px 11px 11px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}


#user_avatar{
    background-color: #4caf50;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 0.93em;
    color: white;
}

.fullname{
    font-size: 2.2em;
    color: black;
}

.area{
    font-size: 1.3em;
}    

.file_button{
    margin-top: 0.5em;
    margin-bottom: 1em;

}
.edit_user{
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;

}