
.row {
    font-family: 'Montreal-Serial-Regular';
    /*background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%) !important;*/
}

.card{
    margin: 8.5%; /* Added */
    padding: 2.5em;
    /*border: 1px solid !important;*/
    border-radius: 8px !important;
    box-shadow: 11px 11px 11px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}
.form-group input {
    width: 100%;
    color: #999;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border: 2px solid #999;
    border-radius:50px;
}

.dropdown {
    text-align:  center;
    justify-content: center;
    color: #999;
    font-weight: bold;
    font-size: 15px;
}
.button {
    background: #3a7bd5;
    background-position: right center; 
    border-radius:50px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 7px;
    width: 100%;
}
.button:hover { 
    background-position: right center; 
}

.links{
    color: #999;
}

.edit-container{
    margin: 8.5%; /* Added */
    padding: 2.5em;
    /*border: 1px solid !important;*/
    border-radius: 8px !important;
    box-shadow: 11px 11px 11px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
}


#user_avatar > input{
  border-radius: 100px;
  background-color: red;
  border: none;
}